.App {
  text-align: center;
}


.App-body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.time-line {
  position: absolute;
  width: 80%;
  height: 20px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.lower-bound {
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: red;
  top:50%;
  transform:translateY(-50%);
}

.original-bound {
  position: absolute;
  height: 40px;
  /* background-color: rgb(190, 50, 233); */
  top:50%;
  border: 5px solid rgb(190, 50, 233);
  transform:translateY(-50%);
}

.interval-bound {
  position: absolute;
  height: 40px;
  /* background-color: rgb(190, 50, 233); */
  top:50%;
  border: 5px solid rgb(50, 233, 96, 0.5);
  transform:translateY(-50%);
  box-sizing: border-box;
}